body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #041542;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Comfortaa, Calibri, serif;
    color: #ffffff;
}

body a {
    color: #fff;
}

body a:hover {
    color: #DDDDDDE0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    border-bottom: solid white 3px;
}

.left_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    font-size: 3rem;
}

.left_header a {
    text-decoration: none;
    margin-left: 2%;
}

.right_header {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.right_header_up {
    display: flex;
    margin: 10px 25px 0;
    justify-content: end;
    font-size: 1rem;
}

.right_header_up a {
    text-decoration: none;
    margin: 0 20px 0;
}

.right_header_down {
    display: flex;
    margin: 15px 0 0;
    justify-content: end;
    font-size: 1.5rem;
}

.right_header_down a {
    text-decoration: none;
    margin: 0 10px 0;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 5rem;
    border-top: solid #ffffff 3px;
    font-size: 1.25rem;
}

.top_footer {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 10px;
}

.top_footer a {
    text-decoration: none;
    margin: 0 100px 0;
}

.bottom_footer {
    display: flex;
    justify-content: center;
    margin-left: -50px;
    margin-top: -1.25rem;
}

.bottom_footer p {
    font-size: 0.75rem;
    user-select: none;
}